{% extends 'base.html' %} {% load static %} {% block content %}

<section class="product-list">
	{% if products %}
	<h1 class="heading center pt-3 pb-3" id="products">All Products</h1>
	<div class="card-wrapper">
		{% for product in products %}
		<div class="card animated rotateIn">
			<div class="card-img-wrapper">
				<img src="{{ product.main_pic.url }}" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">{{ product.title }}</h1>
				<p class="small-text">$ {{ product.price }}</p>
				<a href="{% url 'product' product.id %}" class="link btns btns-light medium-text">More</a>
			</div>
		</div>

		{% endfor %}
	</div>
	<div class="product-page text-center">
		{% if products.has_other_pages %}
		<ul class="product-page-list">
			{% if products.has_previous %}
			<li class="product-page-items prev-page">
				<a href="?page={{products.previous_page_number}}" class="link"
					><i class="material-icons">chevron_left</i></a
				>
			</li>
			{% endif %} {% for page_index in products.paginator.page_range %} {% if products.number == page_index %}
			<li class="product-page-items active-page"><a class="link">{{ page_index }}</a></li>
			{% else %}
			<li class="product-page-items"><a href="?page={{ page_index }}" class="link">{{ page_index }}</a></li>
			{% endif %} {% endfor %} {% if products.has_next %}
			<li class="product-page-items prev-page">
				<a href="?page={{products.next_page_number}}" class="link"
					><i class="material-icons">chevron_right</i></a
				>
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</div>
	{% else %}
	<span class="medium-text">0 Products</span>
	{% endif %}
</section>
<section class="recent-items">
	<div class="two-secs-equal">
		<div class="black-bg heading uppercase center pt-4 pb-4">secure Payments</div>
		<div class="white-bg heading uppercase center pt-4 pb-4">free delivery</div>
	</div>
	<h1 class="heading center mt-3 mb-3" id="recent">Recently Added</h1>
	<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
		<ul class="uk-slider-items uk-grid">
			{% for product in products %} {% if product.recent %}
			<li class="uk-width-3-4">
				<div class="uk-panel">
					<img src="{{ product.main_pic.url }}" alt="{{ product.title }}" class="r-item" alt="" />
					<div class="uk-position-center uk-panel">
						<span class="black-bg animated rotateInDownLeft four heading">$ {{ product.price }}</span><br />
						<a href="{% url 'product' product.id %}" class="link"
							><button class="btns btns-light medium-text mt-5">Buy</button></a
						>
					</div>
				</div>
			</li>
			{% endif %} {% endfor %}
		</ul>

		<a
			class="uk-position-center-left uk-position-small uk-hidden-hover"
			href="#"
			uk-slidenav-previous
			uk-slider-item="previous"
		></a>
		<a
			class="uk-position-center-right uk-position-small uk-hidden-hover"
			href="#"
			uk-slidenav-next
			uk-slider-item="next"
		></a>
	</div>
</section>

{% endblock %}
