{% extends 'base.html' %} {% load static %} {% block content%}

<section class="intro-sec">
	{% for retailer in retailers %}
	<div class="two-secs offer-slider">
		<div class="overflow-hidden img-sec p-3 center animated fadeInLeft">
			<img src="{{ retailer.pic.url }}" alt="user" class="ml-2 intro-img" />
		</div>
		<div class="intro-text pl-2">
			<p class="sub-heading text-white animated fadeInUp">top retailers</p>
			<h1 class="heading animated fadeInUp one">{{ retailer.name }}</h1>
			<p class="small-text animated fadeInUp two p">{{ retailer.description }}</p>
			<div class="two-secs">
				<div class="price animated rotateInDownLeft four heading">
					{{ retailer.category }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="slide-btns text-center">
		<span class="prev cursor" id="prev"><i class="material-icons">chevron_left</i></span>
	</div>
</section>

<section class="about">
	<div class="intro text-center">
		<h1 class="heading animated fadeInLeft" id="about">About Us</h1>
	</div>
	<div class="text-center pt-5 pl-2 pr-2 pb-5">
		<p class="small-text mb-0 pb-0 animated fadeInDown one">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quos et, perspiciatis. Explicabo numquam
			aliquam vero dolores error minus ratione, laboriosam corporis rem accusamus dicta. Officia ipsa sint quia
			labore earum fuga, iusto voluptates assumenda at eum obcaecati quam, cumque dicta sequi quibusdam saepe.
			Aliquid perferendis, debitis deleniti. Qui nobis, incidunt tempora deserunt voluptatum fuga molestiae illo
			esse veniam at nesciunt natus facere, quam optio provident consectetur reiciendis. Magnam ab animi
			doloremque fuga modi exercitationem, libero sit aliquid repellendus reiciendis nobis aliquam possimus,
			praesentium corrupti odit excepturi, velit quas earum. Inventore itaque aperiam at totam eligendi hic nulla
			praesentium laudantium, cum deleniti doloremque voluptate quos vitae perferendis quasi obcaecati harum
			beatae aut maiores veniam doloribus dicta. Ratione reiciendis, deserunt, veritatis adipisci temporibus dicta
			aut, necessitatibus illo minus voluptatibus, iste at dignissimos. Dolor ducimus culpa natus, incidunt alias
			ullam reiciendis a sit obcaecati dolore dolorum repudiandae beatae corrupti iusto fugiat, explicabo.
		</p>
	</div>
</section>

<section class="product-list text-center pb-3">
	<h1 class="heading pt-3 pb-3" id="products">Retailers</h1>
	<div class="card-wrapper">
		{% for retailer in retailers %}
		<div class="card">
			<div class="card-img-wrapper">
				<img src="{{ retailer.pic.url }}" alt="{{ retailer.name }}" class="card-img" />
			</div>
			<div class="card-info text-left ml-2 pb-2">
				<h1 class="medium-text blue-ish">{{ retailer.name }}</h1>
				<p class="small-text">{{ retailer.email }}</p>
				<p class="small-text">Phone: +{{ retailer.phone }}</p>
				<p class="medium-text price">{{ retailer.category }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section class="product-list text-center pb-3">
	<h1 class="heading pt-3 pb-3" id="products">Products</h1>
	<div class="card-wrapper">
		{% for product in products %}
		<div class="card">
			<div class="card-img-wrapper">
				<img src="{{ product.main_pic.url }}" alt="{{ product.title }}" class="card-img" />
			</div>
			<div class="card-info text-left ml-2 pb-2">
				<h1 class="medium-text">{{ product.title }}</h1>
				<p class="small-text">$ {{ product.price }}</p>
				<a href="{% url 'product' product.id %}" class="link btns btns-light medium-text">Buy</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<a href="/products" class="link btns btns-light medium-text">All Products</a>
</section>

{% endblock %}
