{% extends 'base.html' %} {% load static %} {% block content%}

<section class="intro-sec">
	{% for product in products %}
	<div class="two-secs offer-slider">
		<div class="overflow-hidden img-sec p-3 center animated fadeInLeft">
			<img src="{{ product.main_pic.url }}" alt="user" class="ml-2 intro-img" />
		</div>
		<div class="intro-text pl-2">
			<p class="sub-heading text-white animated fadeInUp">
				offer <span id="offer-percentage">{{ product.offer_percentage }}</span>% off
			</p>
			<h1 class="heading animated fadeInUp one">{{ product.title }}</h1>
			<p class="small-text animated fadeInUp two p">{{ product.description }}</p>
			<div class="two-secs">
				<div class="intro-btns animated fadeInUp three">
					<a href="single-phone.html" class="link "
						><button class="btns btns-light medium-text">Buy</button></a
					><br />
					<a href="single-phone.html" class="link"
						><button class=" btns btns-dark medium-text">More info</button></a
					>
				</div>
				<div class="price animated rotateInDownLeft four heading">
					<span class="text-danger cancel">$<span id="old-price">{{ product.price }}</span></span
					><br />
					$ <span class="{{ product.title }}" id="new-price"></span> <br />
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="slide-btns text-center">
		<span class="prev cursor" id="prev"><i class="material-icons">chevron_left</i></span>
	</div>
</section>
<section class="recent-items">
	{% include 'includes/_recentproducts.html' %}
</section>
<section class="product-list text-center pb-3">
	{% include 'includes/_productspreview.html' %}
</section>

{% endblock %}
