{% load static %}
<footer style="background-image: 'img/backgrounds/bg4.jpg'">
	<div class="text-area">
		<div class="two-secs-equal small-text">
			<div class="links p-2">
				<h1 class="sub-heading text-white">Links</h1>
				<div class="grid-display">
					<a href="{% url 'index' %}" class="navlink link small-text">Home</a>
					<a class="navlink link small-text" href="{% url 'products' %}">All Products</a>
					<a class="navlink link small-text" href="/products#recent">Recently Added</a>
					<a href="{% url 'about' %}" class="navlink link small-text">About</a>
				</div>
			</div>
			<div class="contact small-text">
				<div class="blui-sh-rgba text-center p-2" style="min-height: 100%;">
					<a href="index.html" class="link">
						<img src="{% static 'img/logo.png' %}" alt="" height="80" width="120" /> </a
					><br />
					<img src="{% static 'img/icons/location.png'%}" alt="user" class="m-2" height="30" width="30" />
					<a target="_black" href="https://github.com/art-abdulwadud" class="link black">
						Nairobi, Kenya
					</a>
					<br />
					<img src="{% static 'img/icons/phone.png' %}" alt="user" class="m-2" height="30" width="30" />
					<a target="_black" href="https://github.com/art-abdulwadud" class="link black">
						+254 713 425 666
					</a>
					<br />
					<a href="https://icons8.com/icon/" target="_black" class="link"
						><img
							src="{% static 'img/social-media/facebook.png' %}"
							alt=""
							class="m-2"
							height="30"
							width="30"
					/></a>
					<a href="https://icons8.com/icon/" target="_black" class="link"
						><img
							src="{% static 'img/social-media/twitter.png' %}"
							alt=""
							class="m-2"
							height="30"
							width="30"
					/></a>
					<a href="https://icons8.com/icon/" target="_black" class="link"
						><img
							src="{% static 'img/social-media/instagram.png' %}"
							alt=""
							class="m-2"
							height="30"
							width="30"
					/></a>
					<a href="https://icons8.com/icon/" target="_black" class="link"
						><img
							src="{% static 'img/social-media/snapchat.png' %}"
							alt=""
							class="m-2"
							height="30"
							width="30"
					/></a>
					<br />
					Created by
					<a target="_black" href="https://github.com/art-abdulwadud" class="link">Abdulwadud</a>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay"></div>
</footer>
