{% load static %}

<div class="two-secs offer-slider">
	<div class="overflow-hidden img-sec p-3 center animated fadeInLeft">
		<img src="{% static 'img/phones/phone1/cover1.png' %}" alt="user" class="ml-2 intro-img" />
	</div>
	<div class="intro-text pl-2">
		<p class="sub-heading text-white animated fadeInUp">offers</p>
		<h1 class="heading animated fadeInUp one">Samsung Galaxy Note9</h1>
		<p class="small-text animated fadeInUp two p">
			The largest battery in a Note, ever. When you have a long-lasting battery, you really can go all day and all
			night. The Note9 gives you a quick network connection for incredibly fast streaming and downloading, so you
			can do more, uninterrupted.
		</p>
		<div class="two-secs">
			<div class="intro-btns animated fadeInUp three">
				<a href="single-phone.html" class="link "><button class="btns btns-light medium-text">Buy</button></a
				><br />
				<a href="single-phone.html" class="link"
					><button class=" btns btns-dark medium-text">More info</button></a
				>
			</div>
			<div class="price animated rotateInDownLeft four heading">
				<p class="text-danger cancel">$551.34</p>
				$349.98
			</div>
		</div>
	</div>
</div>
<div class="d-none offer-slider">
	<div class="overflow-hidden img-sec p-3 center first animated fadeInLeft">
		<img src="{% static 'img/phones/phone2/cover1.png' %}" alt="user" class="ml-2 intro-img" />
	</div>
	<div class="intro-text pl-2">
		<p class="sub-heading text-white animated fadeInUp">offers</p>
		<h1 class="heading animated fadeInUp one">BLU Studio View 2019-6.0” GSM</h1>
		<p class="small-text animated fadeInUp two p">
			6.0” HD+ 18:9 Curved Glass Display. 32GB Internal Memory 1GB RAM Micro SD up to 64GB; Quad Core 1.3GHz
			processor with Mali-400. Fingerprint Sensor, and Android 8.1 Oreo (Go Edition). 8MP Main Camera with LED
			Flash + 8MP Selfie Camera with LED Flash.
		</p>
		<div class="two-secs">
			<div class="intro-btns animated fadeInUp three">
				<a href="single-phone.html" class="link "><button class="btns btns-light medium-text">Buy</button></a
				><br />
				<a href="single-phone.html" class="link"
					><button class=" btns btns-dark medium-text">More info</button></a
				>
			</div>
			<div class="price animated rotateInDownLeft four heading">
				<p class="text-danger old-price cancel">$551.34</p>
				<p class="new-price">$349.98</p>
			</div>
		</div>
	</div>
</div>
<div class="slide-btns text-center">
	<span class="prev cursor" id="prev"><i class="material-icons">chevron_left</i></span>
</div>
