<section class="product-list">
	<h1 class="heading center pt-3 pb-3" id="products">All Products</h1>
	<div class="card-wrapper">
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone1/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Samsung Galaxy Note9</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone2/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">BLU Studio View 2019-6.0”</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone3/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Apple iPhone 6s</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone4/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Google - Pixel 3a</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone5/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Motorola Moto G8+ Plus</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone6/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Moto G7</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone7/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">LG Stylo 5</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone8/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Apple iPhone 7</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
		<div class="card">
			<div class="card-img-wrapper">
				<img src="img/phones/phone9/cover1.jpg" alt="" class="card-img" />
			</div>
			<div class="card-info ml-2 pb-2">
				<h1 class="medium-text">Apple iPhone 8</h1>
				<p class="small-text">$349.99</p>
				<a href="single-phone.html" class="link btns btns-light medium-text">More</a>
			</div>
		</div>
	</div>
	<div class="product-page text-center">
		<ul class="product-page-list">
			<li class="product-page-items prev-page"><i class="material-icons">chevron_left</i></li>
			<li class="product-page-items active-page">1</li>
			<li class="product-page-items">2</li>
			<li class="product-page-items">3</li>
			<li class="product-page-items next-page"><i class="material-icons">chevron_right</i></li>
		</ul>
	</div>
</section>
