{% load static %}

<h1 class="heading pt-3 pb-3" id="products">Products</h1>
<div class="card-wrapper">
	<div class="card">
		<div class="card-img-wrapper">
			<img src="{% static 'img/phones/phone1/cover1.jpg' %}" alt="" class="card-img" />
		</div>
		<div class="card-info text-left ml-2 pb-2">
			<h1 class="medium-text">Samsung Galaxy Note9</h1>
			<p class="small-text">$349.99</p>
			<a href="single-phone.html" class="link btns btns-light medium-text">Buy</a>
		</div>
	</div>
	<div class="card">
		<div class="card-img-wrapper">
			<img src="{% static 'img/phones/phone2/cover1.jpg' %}" alt="" class="card-img" />
		</div>
		<div class="card-info text-left ml-2 pb-2">
			<h1 class="medium-text">BLU Studio View 2019-6.0”</h1>
			<p class="small-text">$349.99</p>
			<a href="single-phone.html" class="link btns btns-light medium-text">Buy</a>
		</div>
	</div>
	<div class="card">
		<div class="card-img-wrapper">
			<img src="{% static 'img/phones/phone3/cover1.jpg' %}" alt="" class="card-img" />
		</div>
		<div class="card-info text-left ml-2 pb-2">
			<h1 class="medium-text">Apple iPhone 6s</h1>
			<p class="small-text">$349.99</p>
			<a href="single-phone.html" class="link btns btns-light medium-text">Buy</a>
		</div>
	</div>
	<div class="card">
		<div class="card-img-wrapper">
			<img src="{% static 'img/phones/phone4/cover1.jpg' %}" alt="" class="card-img" />
		</div>
		<div class="card-info text-left ml-2 pb-2">
			<h1 class="medium-text">Google - Pixel 3a</h1>
			<p class="small-text">$349.99</p>
			<a href="single-phone.html" class="link btns btns-light medium-text">Buy</a>
		</div>
	</div>
	<div class="card">
		<div class="card-img-wrapper">
			<img src="{% static 'img/phones/phone5/cover1.jpg' %}" alt="" class="card-img" />
		</div>
		<div class="card-info text-left ml-2 pb-2">
			<h1 class="medium-text">Motorola Moto G8+ Plus</h1>
			<p class="small-text">$349.99</p>
			<a href="single-phone.html" class="link btns btns-light medium-text">Buy</a>
		</div>
	</div>
	<div class="card">
		<div class="card-img-wrapper">
			<img src="{% static 'img/phones/phone6/cover1.jpg' %}" alt="" class="card-img" />
		</div>
		<div class="card-info text-left ml-2 pb-2">
			<h1 class="medium-text">Moto G7</h1>
			<p class="small-text">$349.99</p>
			<a href="single-phone.html" class="link btns btns-light medium-text">Buy</a>
		</div>
	</div>
</div>
<a href="/products#products" class="link btns btns-light medium-text">All Products</a>
