{% load static %}

<div class="two-secs-equal">
	<div class="black-bg heading uppercase center pt-4 pb-4">secure Payments</div>
	<div class="white-bg heading uppercase center pt-4 pb-4">free delivery</div>
</div>
<h1 class="heading center mt-3 mb-3" id="recent">Recently Added</h1>
<div class="recent-items-list">
	<div class="item text-center">
		<img src="{% static 'img/phones/phone1/cover1.png' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item text-center one">
		<img src="{% static 'img/phones/phone2/cover1.png' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item text-center two">
		<img src="{% static 'img/phones/phone3/cover1.png' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item three text-center">
		<img src="{% static 'img/phones/phone4/cover1.png' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item three text-center d-none">
		<img src="{% static 'img/phones/phone5/cover1.jpg' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item three text-center d-none">
		<img src="{% static 'img/phones/phone6/cover1.jpg' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item three text-center d-none">
		<img src="{% static 'img/phones/phone7/cover1.jpg' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
	<div class="item three text-center d-none">
		<img src="{% static 'img/phones/phone8/cover1.jpg' %}" alt="" class="r-item" /><br />
		<a href="single-phone.html" class="link"><button class="btns btns-light medium-text">More</button></a>
	</div>
</div>
<div class="slide-btns mt-5">
	<span class="prev cursor medium-text" id="prev-img"><i class="material-icons">chevron_left</i>Previous</span>
	<span class="next cursor medium-text float-right" id="next-img"
		>Next<i class="material-icons">chevron_right</i></span
	>
</div>
